---
- name: Ensure backblaze-b2 package is not installed
  ansible.builtin.package:
    name: backblaze-b2
    state: absent

- name: Ensure pip is installed
  ansible.builtin.package:
    name: python3-pip
    state: present
    update_cache: true

- name: Ensure b2 python package is installed
  ansible.builtin.pip:
    break_system_packages: true
    name: b2
    state: "{{ b2_package_state }}"

- name: Authorize Backblaze B2 application key
  ansible.builtin.command: /usr/bin/b2 authorize-account {{ b2_application_key_id }} {{ b2_application_key }}
  changed_when: false
  no_log: true
  when:
    - b2_application_key_id != ''
    - b2_application_key != ''
